@import "variables";

body, button, input, select, textarea {
  color: #5d656b;
  font-size: $font-size-md;
  font-family:"Microsoft Yahei";
  line-height: 1;
}
body {
  background-color: $bgc-theme;
}
a {
  color: #686868;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.empty-text{
  width: 100%;
  text-align: center;
  line-height: 300px;
  background: #fff;
}
@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
//icon图标
.icon{
   font-size: $icon-font-size;         
   font-weight: bold;
   color:$link-active-color;
   &:hover{
     opacity: 0.5;
   }          
}
//选择图标
.item-check{
   display: inline-block;
   width: 20px;
   height: 20px;
   margin: 20px;
   border-radius: 50%;
   border: 1px solid #999;
   color: #fff;
   &.checked{
     background-color:$link-menu-color; 
     border-color:$link-menu-color;
   }
  }

  //element UI
 .el-select .el-input{
   &.is-focus{
     .el-input__inner{
       border-color:$link-active-color;
     }
   }
   .el-input__inner:focus{
      border-color:$link-active-color;
   }
 }
 .el-button{ 
      &:hover,&:active,&:focus{
      background: $link-active-color;
      color:#fff;
    }
    color:#fff;
    background: $link-active-color;
    border: $link-active-color;
    &:hover{
      color:#fff;
      background-color: $link-active-color;
      opacity: 0.5;
    }
  }
  .el-submenu__title,.el-menu-item,.el-table__row,.el-select-dropdown__item{
    &.is-active,&.selected{
     color:$link-active-color; 
    }
    &:hover,&:active,&:focus{
      background-color:#fde8e8;
    }
  }