//color
$icon-color-default: #333;
$icon-color: #ccc;
$link-active-color: #d20505;
$link-menu-color:#ee7a23;
$border-color: #e1e1e1;

//bgc
$bgc-theme: #f8fafc;
$header-bgc: #fff;

//font size
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$icon-font-size-sm: 24px;
$icon-font-size:26px;

//size
$header-height: 60px;

